@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-dice {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-dice {
  animation: spin-dice 0.5s linear infinite;
}